**LOAN PREDICTOR**

SEPTEMBER 19TH , 2024
Project:Loan prediction
Algorithm used:SVM
Dataset:train_loan.csv
Evaluation:Accuracy_score
Accuracy:75%

In [111]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [112]:
d=pd.read_csv('/content/train_loan.csv')

In [113]:
d.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [114]:
d.shape

(614, 13)

In [115]:
d['Married'].value_counts()

Married
Yes    398
No     213
Name: count, dtype: int64

In [116]:
d['Education'].value_counts()

Education
Graduate        480
Not Graduate    134
Name: count, dtype: int64

In [117]:
d['Property_Area'].value_counts()

Property_Area
Semiurban    233
Urban        202
Rural        179
Name: count, dtype: int64

In [118]:
'''for i in d.columns:
  if d.columns[i][1] is float:
   print(" ")
  else:
   print(d[i].value_counts())'''

'for i in d.columns:\n  if d.columns[i][1] is float:\n   print(" ")\n  else:\n   print(d[i].value_counts())'

In [119]:
print(d.isnull().sum())

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [120]:
d.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [121]:
d=d.dropna()

In [122]:
d.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [123]:
d.replace({"Loan_Status":{'N':0,'Y':1}},inplace=True)

<ipython-input-123-376492d8b9cd>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.replace({"Loan_Status":{'N':0,'Y':1}},inplace=True)

In [124]:
d['Loan_Status'].head()

1    0
2    1
3    1
4    1
5    1
Name: Loan_Status, dtype: int64

In [125]:
d['Dependents'].value_counts()

Dependents
0     274
2      85
1      80
3+     41
Name: count, dtype: int64

In [126]:
d=d.replace(to_replace='3+',value=4)

In [127]:
d['Dependents'].value_counts()

Dependents
0    274
2     85
1     80
4     41
Name: count, dtype: int64

In [128]:
d=d.replace({'Married':{'No':0,'Yes':1},'Gender':{'Male':1,'Female':1},'Self_Employed':{'No':0,'Yes':1},'Property_Area':{'Rural':0,'SemiUrban':3,'Urban':2},'Education':{'Graduate':1,'Not Graduate':0}})

In [129]:
d.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1,1,0,4583,1508.0,128.0,360.0,1.0,0,0
2,LP001005,1,1,0,1,1,3000,0.0,66.0,360.0,1.0,2,1
3,LP001006,1,1,0,0,0,2583,2358.0,120.0,360.0,1.0,2,1
4,LP001008,1,0,0,1,0,6000,0.0,141.0,360.0,1.0,2,1
5,LP001011,1,1,2,1,1,5417,4196.0,267.0,360.0,1.0,2,1

In [130]:
d['Property_Area'].value_counts()

Property_Area
Semiurban    191
2            150
0            139
Name: count, dtype: int64

In [136]:
d['Property_Area'].replace(to_replace='Semiurban',value=3,inplace=True)

In [137]:
d['Property_Area'].value_counts()

Property_Area
3    191
2    150
0    139
Name: count, dtype: int64

In [138]:
x=d.drop(columns=['Loan_ID','Loan_Status'],axis=1)
y=d['Loan_Status']

In [152]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,stratify=y,random_state=2)

In [154]:
print(x.shape,x_train.shape,x_test.shape)

(480, 11) (432, 11) (48, 11)

In [155]:
classifier=svm.SVC(kernel='linear')

In [156]:
classifier.fit(x_train,y_train)

SVC(kernel='linear')

In [157]:
x_train_prediction=classifier.predict(x_train)
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

In [158]:
print("accuracy of training data:",training_data_accuracy)

accuracy of training data: 0.7615740740740741

In [159]:
x_test_prediction=classifier.predict(x_test)
test_data_accuracy=accuracy_score(x_test_prediction,y_test)

In [160]:
print("accuracy on test data:",test_data_accuracy)

accuracy on test data: 0.75